html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f4f3f2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
header {
    background-color: #153448;
    color: white;
    
}
footer {
    margin-top: 20px;
    font-size: 12px;
    color: #333a3f;
}
.btn {
    background-color: #948979;
    color: #333a3f;
    border-radius: 50px;
    border: 5px solid #333333;
    width: 80px;
    height: 40px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.btn:hover {
    opacity: 0.7;
    box-shadow: 5px 5px 10px #333333;
}
.btn:active {
    opacity: 0.3;
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.block {
    flex: 1;
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.btn-cat {
    width: 100%;
    padding: 10px;
    height: 80px;
    width: 100%;
    font-size: 16px;
    color: #f2f2f2;
    background-color: #948979;
    border: 3px solid #333333;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-cat:hover {
    background-color: burlywood;
}

#ads-container {
    display: block;
    padding: 20px;
}

.ads-grid {
    display: flexbox;
    align-items: flex-start;
    gap: 15px;
    transition: opacity 0.3s ease-in-out;
}

.ads-hidden {
    opacity: 0;
}

.ads-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.ad-block {
    display: flex;
    flex-direction: column;
    border: 4px solid #050709;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: #3c5b6f;
    text-align: justify;
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-decoration: none;
}

.ad-block:hover {
    transform: scale(1.01);
}

.ad-block p {
    text-decoration: none;
    text-decoration-line: none;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
    border-bottom: 2px solid #f2f2f2;
}

.ad-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ad-block .ad-title{
    font-size: 18px;
    margin-bottom: 5px;
}

.ad-block .ad-info{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.ad-title-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.ad-title-info {
    flex: 1;
}

.ad-image {
    margin-left: 35px;
    flex-shrink: 0;
    width: 25%;
    height: 25%;
}

.ad-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #333333;
}

#ad-price {
    padding-left: 4px;
    border-left: 2px solid #f2f2f2;
    border-radius: 4px;
    margin-left: 15px;
    padding-bottom: 2px;
}

#ad-date {
    border-right: 2px solid #f2f2f2;
    border-radius: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
}

.ad-description {
    display: inline-flex;
    text-decoration: none;
    text-align: justify;
    color: #FFFFFF;
    margin-right: 10px;
    text-align: justify;
    justify-content: space-between;
}

.ad-description-text{
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#categories-container, #subcategories-container {
    flex: 1;
    min-width: 0;
    margin-top: 20px;
}

#categories-container {
    max-width: 50%;
}

#subcategories-container {
    max-width: 50%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333a3f;
}

/* Search Bar */

.parent-container-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background: white;
    width: 100%;
    max-width: 800px;
    padding: 0;
}

.menu-btn {
    background: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.category-input, 
.search-input, 
.location-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    outline: none;
}

.search-input {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: left;
}

.location-icon {
    padding: 10px;
    font-size: 18px;
}

.search-btn {
    background: #153448; /* Dark Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    font-size: 18px;
}

/* Checkbox */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.checkbox-div {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #3c5b6f;
    border-radius: 15px;
    padding: 7px;
    color: #f2f2f2;
    border: 2px solid #333333;
}

.checkbox {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
}

/* Dropdown Menu */
.dropdown-cat-btn{
    background-color: transparent;
    border: none;
    padding: 10px;
}

.dropdown-cat-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #333333;
    border-radius: 20px;
}

.dropdown-cat-menu li {
    list-style: none ;
    position: relative;
    color: #333a3f;
}


.dropdown-item {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    color: inherit; 
}

.dropdown-item:hover {
    background-color: #ddd;
}


.dropdown-submenu {
    display: none; 
    position: absolute;
    left: 100%; 
    top: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border: 1px solid #333333;
    border-radius: 20px;
}


.dropdown-subitem {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    color: inherit;
}

.dropdown-subitem:hover {
    background-color: #ddd;
}

.dropdown-item:hover + .dropdown-submenu,
.dropdown-submenu:hover {
    display: block;
}

/* Pages */

.page-input {
    border: none;
    background-color: transparent;
    padding: 10px 10px;
    display: flex;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

.dropdown-date-btn  {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.dropdown-date-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: #333333 1px solid;
}

.dropdown-date-item-btn {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    color: #333a3f;
    background-color: transparent;
    border: none;
}

.dropdown-date-item-btn:hover {
    transform: scale(1.25);
    transition: transform 0.15s ease, opacity 0.15s ease;
}

.pagination{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #3c5b6f;
    border-radius: 15px;
    border: 2px solid #333333;
    gap: 15px;
    align-content: center;
    justify-content: center;
}

.page-number{
    color: #f2f2f2;
    background-color: transparent;
    border: none;
    padding: 10px;
}

.page-btn{
    color: #f2f2f2;
    background-color: transparent;
    border: none;
    padding: 10px;
}

@media (max-width: 600px) {
    .search-bar {
        flex-wrap: wrap;
    }
    .search-input, .location-input {
        flex-basis: 100%;
    }
    .ad-image {
        height: 75%;
        width: 75%;
    }
    .ad-block {
        flex-wrap: wrap;
    }
    .ad-header {
        flex-wrap: wrap;
    }
    .ad-description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .checkbox-container {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .dropdown-cat-menu {
        flex-wrap: wrap;
    }
    .dropdown-date-menu {
        flex-wrap: wrap;
    }

}