{% extends 'base_al.html' %}
{% block content %}
    <div id="main-container" class="container">
        <div class="parent-container-search-bar">
            <div class="search-bar">
                <!-- Category Dropdown -->
                <div class="dropdown">
                    <button class="dropdown-cat-btn" aria-label="Categories">
                        <i class="fa-solid fa-bars"></i> Kategori
                    </button>
                    <ul class="dropdown-cat-menu">
                        <div class="grid-container">
                            {% for category in categories %}
                                <li>
                                    <button class="category-btn" 
                                            data-category="{{ category }}">
                                        {{ category }}
                                    </button>
                                </li>
                            {% endfor %}
                        </div>
                    </ul>
                </div>
                <!-- Search Input -->
                <input type="text" 
                       class="search-input" 
                       id="search-input" 
                       placeholder="Monitor, tdi, tsi"
                       aria-label="Search input">
                <!-- Search Type Dropdown -->
                <div class="dropdown">
                    <button class="dropdown-search-btn" aria-label="Search type">Kërko për...</button>
                    <ul class="dropdown-search-type-menu">
                        <li><button class="search-type-btn" id="search-every">Vetëm shpalljet që përmbajnë të gjithë fjalët</button></li>
                        <li><button class="search-type-btn" id="search-some">Shpalljet që përmbajnë të paktën një nga fjalët</button></li>
                    </ul>
                </div>
                <!-- Sort Dropdown -->
                <div class="dropdown">
                    <button class="dropdown-date-btn" aria-label="Sort options">Rendit</button>
                    <ul class="dropdown-date-menu">
                        <li><button class="sort-btn" data-sort="newest">Më të rinjtë</button></li>
                        <li><button class="sort-btn" data-sort="oldest">Më të vjetrit</button></li>
                        <li><button class="sort-btn" data-sort="cheapest">Më të lirë</button></li>
                        <li><button class="sort-btn" data-sort="expensive">Më të shtrenjtë</button></li>
                    </ul>
                </div>
                <!-- Search Button -->
                <button class="search-btn" 
                        id="search-btn" 
                        aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </div>
    
    <!-- Ads Container -->
    <div id="ads-container" class="block">
        <div class="ads-header">
            <button class="dropdown-filter-btn" id="filter-sidebar-btn" aria-label="Filter options"><i class="fa-solid fa-filter"></i> Filtër</button>
            <div id="filter-sidebar" class="filter-sidebar">
                <button class="close-filter-btn">&times;</button>
                <h3>Filtra</h3>
                <div class="price-selector-container">
                    <div class="price-selector-title"><h4>Çmimi</h4></div>
                    <div class="price-selector-input">
                        <input type="number" id="min-price" placeholder="min."> -
                        <input type="number" id="max-price" placeholder="maks.">

                        <label for="currency-select">Monedha:</label>
                        <select id="currency-select">
                            <option value="MKD">MKD</option>
                            <option value="EUR">EUR</option>
                        </select>
                    </div>
                </div>
                <div class="checkbox-container">
                    <label class="checkbox-div">
                        <input type="checkbox" id="checkbox-title" checked>
                        Kërko nga titulli
                    </label>
                    <label class="checkbox-div">
                        <input type="checkbox" id="checkbox-desc" checked>
                        Kërko nga përshkrimi
                    </label>
                    <label class="checkbox-div">
                        <input type="checkbox" id="checkbox-podogovor">
                        Fshih shpalljet sipas marrëveshjes
                    </label>
                    <label class="checkbox-div">
                        <input type="checkbox" id="checkbox-price-1">
                        Fshih shpalljet me çmim 1
                    </label>
                </div>
            </div>

            <h2>Огласи</h2>
            
            <!-- Top Pagination -->
            <div class="pagination-container">
                <div class="pagination">
                    <button class="page-btn prev-page">Prev</button>
                    <span class="page-number">Page 1</span>
                    <button class="page-btn next-page">Next</button>
                </div>
            </div>
        </div>
        <div class="ads-grid"></div>
        <!-- Bottom Pagination -->
        <div class="pagination-container">
            <div class="pagination">
                <button class="page-btn prev-page">Prev</button>
                <span class="page-number">Page 1</span>
                <button class="page-btn next-page">Next</button>
            </div>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
    
{% endblock content %}
