<!DOCTYPE html>

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
{% endblock %}

<body>
    <div class="lines-container">
        <!-- Vertical lines -->
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
        <div class="line line-4"></div>
        <div class="line line-5"></div>
        <div class="line line-6"></div>
        
        <!-- Horizontal lines -->
        <div class="h-line h-line-1"></div>
        <div class="h-line h-line-2"></div>
        <div class="h-line h-line-3"></div>
        
        <!-- Diagonal lines -->
        <div class="diagonal-line diagonal-1"></div>
        <div class="diagonal-line diagonal-2"></div>
        
        <!-- Particles -->
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
        <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
        <div class="particle particle-5"></div>
        
        <!-- Glowing orbs -->
        <div class="orb orb-1"></div>
        <div class="orb orb-2"></div>
        <div class="orb orb-3"></div>
    </div>
    
</body>
</html>