{% extends "base.html" %}
<!-- FIXME Dissalow multiple submit -->
<!-- FIXME Add spinner -->
<!-- TODO update to new site look -->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_pass.css') }}">

    <!-- Disable the submit button when the form is submitted -->
    <!-- HACK not to use a seprate js, if more js funct needed move to seperate js file-->
    <script>
        function disableButton() {
            // Disable the submit button
            var submitBtn = document.getElementById('submitBtn');
            submitBtn.disabled = true;
            submitBtn.innerHTML = "Процесира... <span class='spinner'></span>";
            return true;  // Allow the form submission to continue
        }
    </script>
{% endblock %}

{% block title %}{{ translate('title', 'reset_password_request', lang) }}{% endblock %}

{% block content %}
<div class="container">
    <div class="card-body">
        <form method="POST" action="{{ url_for('reset_password_request_post', lang=request.cookies.get('lang', 'en')) }}" onsubmit="disableButton()">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="email">{{ translate('email', 'reset_password_request', lang) }}</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <button type="submit" class="btn-pass" id="submitBtn">{{ translate('send_email', 'reset_password_request', lang) }}</button>
        </form>
    </div>
</div>
{% endblock %}