# Development files
main/helper.ipynb
main/helper.py

# Python cache
/web/__pycache__/
__pycache__/
*.pyc
*.pyo

# Environment variables
Web/.env

# IDE files
/.idea/*

.idea/workspace.xml
Web/__pycache__/app.cpython-313.pyc
