{% extends 'base_al.html' %}
{% block content %}
    <div id="main-container" class="container">
        <div class="parent-container-search-bar">
            <div class="search-bar">
                <!-- Category Dropdown -->
                <div class="dropdown">
                    <button class="dropdown-cat-btn" aria-label="Categories">
                        <i class="fa-solid fa-bars"></i> Kategori
                    </button>
                    <ul class="dropdown-cat-menu">
                        <div class="grid-container">
                            {% for category in categories %}
                                <li>
                                    <button class="category-btn" 
                                            data-category="{{ category }}">
                                        {{ category }}
                                    </button>
                                </li>
                            {% endfor %}
                        </div>
                    </ul>
                </div>
                <!-- Search Input -->
                <input type="text" 
                       class="search-input" 
                       id="search-input" 
                       placeholder="Monitor, tdi, tsi"
                       aria-label="Search input">
                <!-- Search Type Dropdown -->
                <div class="dropdown">
                    <button class="dropdown-search-btn" aria-label="Search type">Kërko për...</button>
                    <ul class="dropdown-search-type-menu">
                        <li><button class="search-type-btn" id="search-every">Vetëm shpalljet që përmbajnë të gjithë fjalët</button></li>
                        <li><button class="search-type-btn" id="search-some">Shpalljet që përmbajnë të paktën një nga fjalët</button></li>
                    </ul>
                </div>
                <!-- Sort Dropdown -->
                <div class="dropdown">
                    <button class="dropdown-date-btn" aria-label="Sort options">Rendit</button>
                    <ul class="dropdown-date-menu">
                        <li><button class="sort-btn" data-sort="newest">Më të rinjtë</button></li>
                        <li><button class="sort-btn" data-sort="oldest">Më të vjetrit</button></li>
                        <li><button class="sort-btn" data-sort="cheapest">Më të lirë</button></li>
                        <li><button class="sort-btn" data-sort="expensive">Më të shtrenjtë</button></li>
                    </ul>
                </div>
                <!-- Search Button -->
                <button class="search-btn" 
                        id="search-btn" 
                        aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>

        <!-- Price Slider-->
        <div class="slider-container">
            <div class="slider-title"><h4>Çmimi</h4></div>
            <div class="range-slider">
                <input type="range" id="minSlider" min="1" max="50000" value="1">
                <input type="range" id="maxSlider" min="1" max="50000" value="50000">
                <div class="range-track"></div>
                <input type="number" id="minBubble" value="1">
                <input type="number" id="maxBubble" value="50000">

                <div id="minLine" class="slider-line"></div>
                <div id="maxLine" class="slider-line"></div>
                <div class="plus-circle" id="plus-circle"></div>
            </div>
        </div>

        <!-- Search Options -->
        <div class="checkbox-container">
            <label class="checkbox-div">
                <input type="checkbox" id="checkbox-title" checked>
                Kërko nga titulli
            </label>
            <label class="checkbox-div">
                <input type="checkbox" id="checkbox-desc" checked>
                Kërko nga përshkrimi
            </label>
            <label class="checkbox-div">
                <input type="checkbox" id="checkbox-podogovor">
                Fshih shpalljet sipas marrëveshjes
            </label>
            <label class="checkbox-div">
                <input type="checkbox" id="checkbox-price-1">
                Fshih shpalljet me çmim 1
            </label>
        </div>
    </div>
    
    <!-- Ads Container -->
    <div id="ads-container" class="block">
        <div class="ads-header">
            <h2>Shpalljet</h2>
            <!-- Top Pagination -->
            <div class="pagination-container">
                <div class="pagination">
                    <button class="page-btn prev-page">Para</button>
                    <span class="page-number">Page 1</span>
                    <button class="page-btn next-page">Tjetër</button>
                </div>
            </div>
        </div>
        <div class="ads-grid"></div>
        <!-- Bottom Pagination -->
        <div class="pagination-container">
            <div class="pagination">
                <button class="page-btn prev-page">Para</button>
                <span class="page-number">Page 1</span>
                <button class="page-btn next-page">Tjetër</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    
{% endblock content %}
