{% extends "base_al.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block title %}Hyrje{% endblock %}

{% block content %}
<div class="container">
    <div class="card-body">
            <h4>Hyrje</h4>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('login', lang=request.cookies.get('lang', 'en')) }}">
            <ol class="card-body-items">
            <li>
                <label for="username" class="form-label">Emri i përdoruesit</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </li>
            <li>
                <label for="password" class="form-label">Fjalëkalimi</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                <label class="form-check-label" for="remember_me">Më kujto</label>
            </li>
            <button type="submit" class="btn">Hyr</button>
            </ol>
        </form>
        <p><a href="{{ url_for('reset_password_request', lang = request.cookies.get('lang', 'en')) }}">Keni harruar fjalëkalimin?</a></p>
        <p class="mb-0">Nuk keni një llogari? <a href="{{ url_for('register', lang=request.cookies.get('lang', 'en')) }}">Regjistrohu</a></p>
    </div>
        
</div>
{% endblock %}
