{% extends "base_al.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block title %}Profili juaj &euml;sht&euml; deaktivuar{% endblock %}

{% block content %}
<div class="container">
    <div class="card-body">
        <h1>Profili juaj &euml;sht&euml; deaktivuar</h1>
        <p>Profili juaj &euml;sht&euml; deaktivuar. N&euml;se doni ta aktivizoni p&euml;rs&euml;ri, kontaktoni administratorin.</p>      
    </div>
</div>
{% endblock %}

