<!DOCTYPE html>
<html land="al">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo/favicon.png') }}">
    <link rel="icon" type="image/x-con" href="{{ url_for('static', filename='images/logo/favicon.ico') }}">
    {% block head %}{% endblock head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" crossorigin="anonymous"></script>
    <title>{% block title %}Market Watcher{% endblock %}</title>
</head>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>

<body class="{% block body_class %}flex-layout{% endblock %}">
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo/favicon.ico') }}" alt="logo">
                <h1 class="site-name">Market Watcher</h1>
            </div>
            <ul class="links">
                <li><a href="{{ url_for('index_lang', lang='al')}}"><i class="fa-solid fa-house"></i> Shtëpi</li></a>
                <li><a href="{{ url_for('about', lang='al')}}"><i class="fa-solid fa-circle-info"></i> Informacion</li></a>
                <li><a href="{{ url_for('contact', lang='al')}}"><i class="fa-solid fa-address-book"></i> Kontakt</li></a>
                <ul class="lang-menu">
                    <li>
                        <a href="{{ url_for('index_lang', lang='en') }}" class="lang-btn">
                            <img src="https://flagcdn.com/w40/gb.png" alt="English" width="20"> EN
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('index_lang', lang='mkd') }}" class="lang-btn">
                            <img src="https://flagcdn.com/w40/mk.png" alt="Macedonian" width="20"> MKD
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('index_lang', lang='al') }}" class="lang-btn">
                            <img src="https://flagcdn.com/w40/al.png" alt="Albanian" width="20"> AL
                        </a>
                    </li>
                </ul>
            </ul>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
            
            <div class="dropdown_menu">
                <a href="{{ url_for('index_lang', lang='al')}}"><li><i class="fa-solid fa-house"></i> Shtëpi</li></a>
                <a href="{{ url_for('about', lang='al')}}"><li><i class="fa-solid fa-circle-info"></i> Informacion</li></a>
                <a href="{{ url_for('contact', lang='al')}}"><li><i class="fa-solid fa-address-book"></i> Kontakt</li></a>
                <ul class="lang-menu">
                    <a href="{{ url_for('index_lang', lang='en') }}" class="lang-btn">
                        <li>
                            <img src="https://flagcdn.com/w40/gb.png" alt="English" width="20"> EN
                        </li>
                    </a>
                    <a href="{{ url_for('index_lang', lang='mkd') }}" class="lang-btn">
                        <li>
                            <img src="https://flagcdn.com/w40/mk.png" alt="Macedonian" width="20"> MKD
                        </li>
                    </a>
                    <a href="{{ url_for('index_lang', lang='al') }}" class="lang-btn">
                        <li>
                            <img src="https://flagcdn.com/w40/al.png" alt="Albanian" width="20"> AL
                        </li>
                    </a>
                </ul>
            </div>
        </div>      
    </header>

    <main style="flex: 1">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Milosh Smiljkovikj</p>
    </footer>

</body>
</html>
