.container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-body{
    margin-top: 10vh;
    background-color: #3c5b6f;
    color: #f4f3f2;
    border: 4px solid #333a3f;
    border-radius: 8px;
    display: table;
    justify-self: center;
}

.card-body-items{
    justify-items: right;
}

.card-body p a{
    color: #333a3f;
    text-decoration: none;
    background-color: #EEE3CB;
    border-radius: 15px;
    padding: 5px;
}

.card-body p a:hover{
    background-color: #102b37;
    color: #f4f3f2;
    transform: scale(1.25);
    transition: transform 0.15s ease;
}

.card-body .btn{
    background-color: #f4f3f2;
    color: #333a3f;
    border: 2px solid #333a3f;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: fit-content;
}

.control-title{
    background-color: #102b37;
    color: #f4f3f2;
    display: table-header-group;
}

.control-title th{
    padding: 10px;
    border: 2px inset #f4f3f2;
}

.control-content{
    display: table-row-group;
}

.control-content td{
    padding: 10px;
    border: 2px inset #f4f3f2;
}