.container py-5{
    align-items: center;
    align-self: center;
}

.card-body{
    background-color: #153448;
    color: #f4f3f2;
    padding: 10px;
    border: 2px solid #333a3f;
    border-radius: 10px;
}

.mb-3{
    background-color: transparent;
    color: #f4f3f2;
    border: 2px solid #f4f3f2;
    padding: 2px;
}

.mb-3 input{
    background-color: transparent;
    color: #f4f3f2;
    border: 2px solid #f4f3f2;
    padding: 2px;
}

.button{
    background-color: #153448;
    color: #f4f3f2;
    border: 2px solid #333a3f;
    padding: 2px;
    text-align: center;
}

.mb-0 a{
    color: #333a3f;
}