.container{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-body{
    margin-top: 10vh;
    background-color: #3c5b6f;
    color: #f4f3f2;
    border: 4px solid #333a3f;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-body-items{
    justify-items: right;
}

input{
    background-color: #f4f3f2;
    color: #333a3f;
    border: 2px solid #333a3f;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}

.card-body p a{
    color: #333a3f;
    text-decoration: none;
    background-color: #EEE3CB;
    border-radius: 15px;
    padding: 5px;
}

.card-body p a:hover{
    background-color: #102b37;
    color: #f4f3f2;
    transform: scale(1.25);
    transition: transform 0.15s ease;
}

.card-body .btn{
    background-color: #f4f3f2;
    color: #333a3f;
    border: 2px solid #333a3f;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}

.btn-pass{
    background-color: #f4f3f2;
    color: #333a3f;
    border: 2px solid #333a3f;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    width: 135px;
    height: 40px;
    text-align: justify;
}

#email{
    width: 300px;
}

.error-message {
    color: #EEE3CB;
    font-size: 14px;
    font-weight: bold;
    display: block; /* Ensures visibility */
    margin-top: 10px;
}

.success {
    color: green;
}

.danger {
    color: #EEE3CB;
}

.form-text {
    color: #EEE3CB;
    font-size: 14px;
    font-weight: bold;
    display: block; /* Ensures visibility */
    margin-top: 10px;
}
