{% extends 'base.html' %}

{% block body_class %}about{% endblock body_class %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock head %}



    {% block content %}
        <div class="about-container">
        <h1 class="title"><i class="fa-solid fa-circle-info"></i> Информации</h1>
        <h2 class="text"><i class="fa-solid fa-gears"></i> Како работи</h2>
        <ol>
            <li class="list-item">1. Избери категорија: Кликни на соодветната категорија.</li>
            <li class="list-item">2. Избери подкатегорија</li>
            <li class="list-item">4. Внеси зборови за кои се пребарува одделени со запирка: Автоматски бара и на Македонски и Латински.</li>
            <li class="list-item" style="text-indent: 100px;">4.1.  Избери начин на барање во барај за</li> <!--HACK fix later-->
            <li class="list-item" style="text-indent: 100px;">4.2.  Избери начин на сортирање (по желба)</li> <!--HACK fix later-->
        </ol>
        <h2 class="text"><i class="fa-solid fa-heart"></i> Зошто постои оваа страна</h2>
        <p class="text"> Оваа страна постои бидејќи мене ме иритираше што сите македонски сајтови за реклами бараат по наслов и немаат добра логика за барање, 
                         тоа овој сајт го решава со што може да се бара и по наслов и по опис и има повеќе опции за начини на барање, 
                         се надевам дека овој сајт ке биде корисен на некого</p>
        </div>   
            
    {% endblock content %}
    

    
