{% extends "base_en.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="card-body">
            <h4>Login</h4>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('login') }}">
            <ol class="card-body-items">
            <li>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </li>
            <li>
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </li>
            <li>
                <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                <label class="form-check-label" for="remember_me">Remember me</label>
            </li>
            <button type="submit" class="btn">Login</button>
            </ol>
        </form>
        <p class="mb-0">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
        
</div>
{% endblock %}
