{% extends "base_mkd.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block title %}Ресетирајте ја вашата лозинка{% endblock %}

{% block content %}
<div class="container">
    <div class="card-body">
        <form action="{{ url_for('reset_password', token=token, lang=request.cookies.get('lang', 'en')) }}" method="POST">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="alert alert-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <ol class="card-body-items">
                <li>
                <label for="password">Нова лозинка:</label>
                <input type="password" name="password" required>
                </li>
                <li>
                <label for="confirm_password">Потвредте ја лозинката:</label>
                <input type="password" name="confirm_password" required>
                </li>
                <button type="submit" class="btn">Ресетирај ја лозинката</button>
            </ol>
        </form>        
    </div>
</div>
{% endblock %}
